@model IList<RadioFrequencyCenter.DataBrowser.Models.BroadcastStation>

@{
    if (ViewBag != null )
    {
        ViewBag.Title = "AllRecords";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AllRecords</h1>
<div class="btn-group btn-group-lg">
    @Html.ActionLink("на главную", "Index", "Home", null, new {@class = "btn btn-primary"})
    @Html.ActionLink("Загрузить из источника", "DownloadAllRecords", "BroadcastStation", null, new {@class = "btn btn-primary "})
    @Html.ActionLink("Удалить все записи", "DeleteAllRecords", "BroadcastStation", null, new {@class = "btn btn-primary"})
</div>
<div>
    @{
        var isEmptyReocordSet = Model == null;
        if (!isEmptyReocordSet)
        {
            var count = Model.Count;
            if (count == 0)
            {
                isEmptyReocordSet = true;
            }
        }
        if (isEmptyReocordSet)
        {
            <p class="btn label-warning">no records found, try click button "Загрузить из источника" for add records from source</p>
        }
        else
        {
            <table class="table table-condensed table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="ViewBroadcastStationRecord">
                            Частоты
                        </th>
                        <th class="DateSvid">
                            DateSvid
                        </th>
                        <th class="Lat">
                            Lat
                        </th>
                        <th class="Long">
                            Long
                        </th>
                        <th class="Mac">
                            Mac
                        </th>
                        <th class="NumSvid">
                            NumSvid
                        </th>
                        <th class="Region">
                            Region
                        </th>
                        <th class="SrokSvid">
                            SrokSvid
                        </th>
                        <th class="UpdateDate">
                            UpdateDate
                        </th>
                        <th class="ZavNum">
                            ZavNum
                        </th>
                        <th class="DelDate">
                            DelDate
                        </th>
                        <th class="IdRes">
                            IdRes
                        </th>
                        <th class="Ids">
                            Ids
                        </th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var record in Model)
                {
                    if (record == null)
                    {
                        continue;
                    }
                    <tr>
                        <td class="ViewBroadcastStationRecord">
                            @if (Url != null)
                            {
                                @Html.ActionLink("Просмотр", "BroadcastStationRecord", new { id = record.IdRes.ToString(), controller = "BroadcastStation", action = "BroadcastStationRecord" })
                            }
                        </td>
                        <td class="DateSvid">
                            @record.DateSvid
                        </td>
                        <td class="Lat">
                            @record.Lat
                        </td>
                        <td class="Long">
                            @record.Long
                        </td>
                        <td class="Mac">
                            @record.Mac
                        </td>
                        <td class="NumSvid">
                            @record.NumSvid
                        </td>
                        <td class="Region">
                            @record.Region
                        </td>
                        <td class="SrokSvid">
                            @record.SrokSvid
                        </td>
                        <td class="UpdateDate">
                            @record.UpdateDate
                        </td>
                        <td class="ZavNum">
                            @record.ZavNum
                        </td>
                        <td class="DelDate">
                            @record.DelDate
                        </td>
                        <td class="IdRes">
                            @record.IdRes
                        </td>
                        <td class="Ids">
                            @record.Ids
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>