@model IList<RadioFrequencyCenter.DataBrowser.Models.BroadcastStation>

@{
    if (ViewBag != null )
    {
        ViewBag.Title = "AllRecords";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AllRecords</h1>
<p>
    <div class="menu">
        @Html.ActionLink("на главную", "Index", "Home")
        @Html.ActionLink("Загрузить из источника", "DownloadAllRecords", "BroadcastStations", null, new { @class = "btn" })
        @Html.ActionLink("Удалить все записи", "DeleteAllRecords", "BroadcastStations", null, new { @class = "btn" })
    </div>

</p>

<p>

    @{
        var isEmptyReocordSet = Model == null;
        if (!isEmptyReocordSet)
                {
                    var count = Model.Count;
                    if (count == 0)
                    {
                        isEmptyReocordSet = true;
                    }
                }
                if (isEmptyReocordSet)
                {
                    @Html.Label("no records");
                }
                else
                {
            <table class ="table">
                <thead >
                <tr>
                    <th class="DateSvid">
                        DateSvid
                    </th>
                    <th class="Lat">
                        Lat
                    </th>
                    <th class="Long">
                        Long
                    </th>
                    <th class="Mac">
                        Mac
                    </th>
                    <th class="NumSvid">
                        NumSvid
                    </th>
                    <th class="Region">
                        Region
                    </th>
                    <th class="SrokSvid">
                        SrokSvid
                    </th>
                    <th class="UpdateDate">
                        UpdateDate
                    </th>
                    <th class="ZavNum">
                        ZavNum
                    </th>
                    <th class="DelDate">
                        DelDate
                    </th>
                    <th class="IdRes">
                        IdRes
                    </th>
                    <th class="Ids">
                        Ids
                    </th>
                </tr>

                </thead>
                <tbody>
                @foreach (var record in Model)
            {
                if (record == null)
                {
                    continue;
                }
                    <tr class="item">
                        <td class="DateSvid">
                            @record.DateSvid
                        </td>
                        <td class="Lat">
                            @record.Lat
                        </td>
                        <td class="Long">
                            @record.Long
                        </td>
                        <td class="Mac">
                            @record.Mac
                        </td>
                        <td class="NumSvid">
                            @record.NumSvid
                        </td>
                        <td class="Region">
                            @record.Region
                        </td>
                        <td class="SrokSvid">
                            @record.SrokSvid
                        </td>
                        <td class="UpdateDate">
                            @record.UpdateDate
                        </td>
                        <td class="ZavNum">
                            @record.ZavNum
                        </td>
                        <td class="DelDate">
                            @record.DelDate
                        </td>
                        <td class="IdRes">
                            @record.IdRes
                        </td>
                        <td class="Ids">
                            @record.Ids
                        </td>
                    </tr>
                }
                    </tbody>
            </table>
        }
    }

</p>

